* { 
    box-sizing: border-box;
}

body { 
    font-family: "Work Sans", sans-serif;
}

.container { 
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: #aaa;
}


/* small screen  */
@media (min-width: 768px) {
    .container { 
        width: 750px;
    }
}

/* medium screen  */
@media (min-width: 992px) {
    .container { 
        width: 970px;
    }
}

/* large screen  */
@media (min-width: 1200px) {
    .container { 
        width: 1170px;
    }
}



/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

.work-sans-<uniquifier> {
  font-family: "Work Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}